.sam-cache
.libs
rock_tmp
build
launcher-build

stage
builds

config/settings.yml

/isaac
*.glc
videos
*.log
log.txt
callgrind.out.*
*~

# win32 stuff
*.dSYM
*.exe
*.res
*.dll
!skeletons/win32/*.dll

# GL debug stuff (apitrace)
*.trace

# osx stuff
.DS_store

# my stuff
/videos
